	body {
	background-image: url("images/images (1).jpg");
    background-size: 1280px 700px;
	}
        .payment{
             height: 130px;
             border-radius: 15px;                         
        }
        .bg_color{
            width:35%;
            float: right;
            background-color: #eee;
            border-radius: 15px;   
            margin-right: 380px;
            margin-top: 80px;          
        }
        .header-bar{
            background-color: skyblue;
            margin-top: -8px;
            height: 25px;
        }
        .header-option{
            text-align: left;
            height: 25px;
            width: 50px;
            margin-left: 20px; 
        }
        .header-bar .header-option > a{
            margin-left: 5px;
        }
        .header-bar > div:hover{
            background-color: #b0dfea;
        }
        /*
        .logout{
            display: block;
            margin-top: -25px;
            margin-right: -6px;
            width: 60px;
            float: right;
        } */       
        #mSelect{
            width: 145px;
        }
        #logout{
            height: 25px;
            width: 60px;
        }