
/*------------------------------ HEADER ------------------------------*/
/*
#header {
	background-color: #eee;
	border-bottom: 1px solid #e6e6e6;
	padding: 27px 0;
}
#header > div, #footer > div {
	width: 920px;
	margin: 0 auto;
	padding: 0 20px;
}
#header .logo {
	float: left;
	margin-right: 20px;
}
#header .logo a {
	background: url(../images/logo.png) no-repeat center top;
	color: #000;
	display: block;
	font: 15px/30px 'Play';
	height: 20px;
	width: 76px;
	padding-top: 68px;
	text-decoration: none;
	text-transform: uppercase;
}
#navigation {
	display: inline-block;
	list-style: none;
	line-height: 100px;
	margin: 0;
	padding: 0;
}
#navigation ul {
	display: inline-block;
	list-style: none;
	margin: 0;
	padding: 0;
}
#navigation li {
	float: left;
	width: 160px;
	text-align: center;
}
#navigation li a {
	color: #818181;
	font-size: 15px;
	line-height: 30px;
	text-decoration: none;
}
#navigation li a:hover {
	color: #000;
}
#navigation li.active a {
	color: #f99600;
}
#adbox {
	background: url(../images/bg-adbox.jpg) repeat-x left top;
	height: 380px;
	padding: 60px 0;
}
#adbox > div {
	width: 800px;
	margin: 0 auto;
	padding: 0 80px;
}
#adbox > div img {
	float: right;
	margin-left: 60px;
}
#adbox h1, #adbox h2 {
	color: #2c2c2c;
	font-size: 60px;
	line-height: 60px;
	margin: 0;
	text-transform: uppercase;
}
#adbox h2 {
	font-size: 30px;
	line-height: 36px;
	text-transform: none;
}
#adbox p {
	font-size: 16px;
	line-height: 24px;
	margin: 0;
}
#adbox p span {
	display: block;
	font-size: 12px;
	width: 360px;
	padding: 24px 0;
	text-align: center;
}
#adbox p span b {
	font-weight: normal;
	display: block;
	width: 256px;
}
*/
	.entry{
		margin-left: 240px;
		margin-top: 5px;
		width: 62%;
		border: solid;
	}
    .menu{
        margin-top: -8px;
        margin-left: -8px;
        width:1280px;
        height:700px;
    }           	 
	body {
	background-image: url("images/images (1).jpg");
	background-repeat: repeat;
    background-size: 1280px 900px;
	}
    .error {
    color: #FF0000;
    }
    .menu .header-bar-color .header-bar .history > div:hover,
    .menu .header-bar-color .header-bar .history > div:hover,
    .menu .header-bar-color .header-bar .history > div:hover,
    .menu .header-bar-color .header-bar .history > div:hover {
        height: 25px;
        background-color: skyblue;
    }
	.field_set{
		float: right;
		border-radius: 5%;
		background-color: #eee;
		width: 60px;
		height: 200px;
	}
/*
    #logout{
        width: 60px;
        height: 25px;
        float: right;
    }
*/	